		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>
		<!-- Header -->
			<header id="header">
				<h1><strong><a href="index.html">Fachschaftsrat</a></strong><a href="index.html"> Mathematik</a></h1>
				<nav id="nav">
					<ul>
