		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Digitales Konzept für Sitzungen</h2>
						<p>Wie funktionieren Sitzungen während der COVID-19-Pandemie?</p>
					</header>

					<p>
						Da aufgrund der aktuellen Situation nicht damit zu rechnen ist, dass normale 
						Sitzungen in absehbarer Zeit wieder möglich sein werden, 
						werden wir unsere Sitzungen ab dem 13.4. wieder 
						stattfinden lassen, allerdings in digitaler Form. Hierbei sind wir stolz darauf, 
						euch mitteilen zu können, dass wir vollständig auf frei verfügbare quelloffene 
						Software setzen werden, die – mit Ausnahme des DFN-Terminplaners, welcher 
						ebenfalls frei ist – auf einem von uns kontrollierten Server läuft, um keine 
						Abhängigkeit von unfreier Software oder Diensteanbietern zu schaffen und die 
						digitale Freiheit der Nutzer*innen zu respektieren. Genauer setzen wir auf die 
						folgenden Tools:
					</p>
					<h4>Mumble</h4>
					<p>
						Hierüber werden wir in der Lage sein, miteinander zu sprechen. Ihr benötigt 
						einen <a href="#mumble-clients">Mumble-Client</a>. Eine 
						Registrierung auf dem Server ist nicht notwendig. Der Mumble-Kanal ist 
						passwortgeschützt, das Passwort wird bei Bedarf geändert und in diesem Fall spätestens 
						2h vor der nächsten Sitzung per Mail auf der <em>Mathefach</em>-Liste bekanntgegeben.
					</p>
					<h4>Leapchat</h4>
					<p>
						Dies ist unser zweiter Kommunikationskanal, falls auf Mumble Unklarheiten oder 
						technische Probleme auftreten. Es sollte jede*r für die gesamte Dauer der Sitzung 
						neben Mumble auch hier online sein, ansonsten bringt dieses Fallnetz recht 
						wenig. Der Name des Chatraumes wird bei Bedarf geändert und zusammen mit dem 
						Mumble-Passwort per Mail auf der <em>Mathefach</em>-Liste bekanntgegeben.
					</p>
					<h4>CryptPad</h4>
					<p>
						Hierüber können in Echtzeit kollaborativ verschiedene Dokumenttypen wie Text, 
						Tabellen, Präsentationen und Whiteboards bearbeitet werden.
					</p>
					<h4>Framadate</h4>
					<p>
						Hierüber können (ähnlich wie per Doodle) Abstimmungen stattfinden.
					</p>
					<h4>Welcher Server genau?</h4>
					<p>
						Um die Infrastruktur zu schützen, werden wir die Serveradressen nicht auf der Website veröffentlichen. Mitglieder der Mailingliste <em>Mathefach</em> haben die Details Ende März bereits per Mail erhalten. Solltet ihr die Zugangsdaten noch benötigen, kontaktiert uns bitte.
					</p>
					<h4>Was bedeutet das für mich?</h4>
					<p>
						Bitte macht euch <strong>vor</strong> Teilnahme an der nächsten Sitzung mit der verwendeten Technik vertraut. Sollten hierbei technische Probleme oder Fragen entstehen, meldet euch einfach rechtzeitig bei uns, wir helfen euch dabei gerne – nur eben nicht während einer laufenden Sitzung.
					</p>
					<h4 id="mumble-clients">Mumble-Clients</h4>
					<div class="table-wrapper">
						<table>
							<tbody>
								<tr>
									<td>Windows</td><td><a href="https://github.com/mumble-voip/mumble/releases/download/1.3.0/mumble-1.3.0.msi">mumble-1.3.0.msi</a></td>
								</tr>
								<tr>
									<td>macOS</td><td><a href="https://github.com/mumble-voip/mumble/releases/download/1.3.0/Mumble-1.3.0.dmg">Mumble-1.3.0.dmg</a> <sup><a href="#mumble-macos">[1]</a></sup></td>
								</tr>
								<tr>
									<td>Linux</td><td><a href="https://snapcraft.io/mumble">snap: mumble</a> <sup><a href="#mumble-linux">[2]</a></sup></td>
								</tr>
								<tr>
									<td>Android</td><td><a href="https://play.google.com/store/apps/details?id=com.morlunk.mumbleclient.free">Plumble (Google Play)</a></td>
								</tr>
								<tr>
									<td>iOS</td><td><a href="https://apps.apple.com/de/app/mumble/id443472808">Mumble (App Store)</a></td>
								</tr>
							</tbody>
						</table>
						<p id="mumble-macos">
							<sup>[1]</sup> In neueren macOS-Versionen blockieren die Standard-Sicherheitsrichtlinien die 
							Ausführung per Doppelklick, allerdings könnt ihr das Programm über ctrl+Klick 
							und anschließendem Klick auf "Öffnen" ausführen.
						</p>
						<p id="mumble-linux">
							<sup>[2]</sup> Ihr solltet Mumble in den Paketquellen eurer Distribution finden und bevorzugterweise hierüber installieren, alternativ könnt ihr das Programm aber per Snap installieren.
						</p>
					</div>
				</div>
			</section>
