		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Digitales Konzept für Sitzungen</h2>
						<p>Wie funktionieren Sitzungen während der COVID-19-Pandemie?</p>
					</header>

					<p>
						Da aufgrund der aktuellen Situation nicht damit zu rechnen ist, dass normale Sitzungen in absehbarer Zeit wieder möglich sein werden, finden unsere Sitzungen derzeit in digitaler Form statt.
					</p>
					<h4>Discord</h4>
					<p>
						Wie viele von euch inzwischen wahrscheinlich wissen, betreibt der Fachschaftsrat einen Discord-Server. Falls ihr noch nicht auf diesem registriert sein solltet, findet ihr den Link in der Fußzeile oder auf der Startseite. Per Beschluss der Sitzung vom 27.10. werden ab dem 16.11. unsere Fachschaftssitzungen bis auf Weiteres über diesen Discord-Server abgehalten, sofern hierzu keine Gegenrede aus Reihen der Studierenden besteht. Möchtet ihr an Sitzungen teilnehmen, aber aufgrund von Datenschutzbedenken nicht Discord benutzen, schreibt uns bitte eine Mail, damit wir gemeinsam eine Lösung finden können.
					</p>
					<h4>Mumble</h4>
					<p>
						Als alternativen Sprachkanal für diejenigen, die Discord nicht benutzen möchten, stellen wir euch einen Mumble-Server zur Verfügung. Diesen findet ihr unter der URL <em>dillbox.me</em> auf dem Standardport 64738. Das Passwort lautet <em>C20R20NA</em>. Sollten sich durch diese Veröffentlichung des Passworts Probleme ergeben, behalten wir uns vor, dieses zu ändern und auf Anfrage per Mail bekanntzugeben.
					</p>
				</div>
			</section>
