		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2>Stipendien und Austauschmöglichkeiten</h2>
					</header>

					Zur Zeit liegen uns leider keine aktuellen Informationen vor.
		</div>
	</section>
